#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #78FECF;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.home-title{
    color: aquamarine;
}

h4 {
    color: #78FECF
}

.msg h2 {
    color: #D6FFE4
}

.msg p {
    color: #D6FFE4;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #434371;
}

body{
    background-color: #434371;
}

header{
    background-color: #434371;
}

nav a:hover{
    background-color: #78FECF;
    color: #0E2844;
}

.book, .join{
    background-color: #0E2844;
    color: #78FECF;
}

.book:hover, .join:hover{
    background-color: #396E94;
    color: #78FECF;
}

.msg{
    background-color: #434371;
}

footer{
    background-color: #396E94;
    color: #D6FFE4;
}

footer a {
    color: #D6FFE4
}

footer a:hover {
    color: #D6FFE4
}