@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Condensed&display=swap');

body{
    font-family: "Montserrat";
}

nav {
    display: flex;
    justify-content: space-around;
}

header{
    background-color: #052f5f;
    color: #ADD9F4;
    text-align: center;
    padding: 3rem;
}

header a{
    color:#ADD9F4;
    text-decoration: none;
    font-size: 2rem;
}

header a:hover{
    background-color: #B6244F;
    color: #D5C67A;
}



/* FOOTER*/

footer{
    background-color: #052f5f;
    color: #ADD9F4;
    display: flex;
}

footer a{
    color:#ADD9F4;
    text-decoration: underline;
}

footer a:hover{
    background-color: #B6244F;
    color: #D5C67A;
}

footer p{
    margin: 2rem;
}

/* HOME PAGE*/

.home-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-main div img{
    display: block;
    margin: 20px;
}



/* PAGE 2*/

.page2-main {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.page2-main div img {
    display: block;
    margin: 20px;
}






/* PAGE 3*/